$head-Height: '44px';
.admin-logo {
   width: 100%;
   height: 100%;
   position: relative;
   background: #002140;
   overflow: hidden;

   & span{
     position: absolute;
     top: 0; left: 0; right: 0; bottom: 0;
     margin: auto;
     font-size: 20px;
     text-align: center;
     color: #fff;
   }
}


.head-wrap{
  display: flex;
  background: #fff;
  justify-content: space-between;
  .menu-iib{
    cursor: pointer;
    height: 62px;

    & .pointer {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 40px;
      height: 100%;
    }
  }
}

